= button_to "Select Theme",
            choose_theme_path(locale: @current_locale, format: :js),
            method: :get,
            remote: true,
            class: "button__left theme",
            title: "Select theme from your device folder",
            data: { disable_with: "Loading..." }