%meta#user-id{value: @user_id}
.image
  .row
    .col-md-3
%br
.col-md-9
  .image-display
    .row.image
      .col-md-12
        %h2.up-theme{:title => "theme_name"}
          #{@selected_theme}
      .left-controls
        %select{name: "selector", class: "form-control", onchange: "applyTheme(this.value)"}
          %option{value: ""}
            =t('.select')
          - @themes.each do |theme|
            %option{value: theme[0]}= theme[1]


      .col-md-1
      .col-md-10
        .image-name
          %h2#image-name-text.up{:title => "Image file name"}
            #{@selected_image_name}
        .img-center{:title => "Default image"}
          %img{:alt => "Default Image", :src =>
            asset_path('raduga.jpg'),
             :title => "Default image" }
        .image-user-value{:title => "Expert value"}
          %label Введите свою оценку (1-10):
          %input{type: "number", id: "quantity-input", name: "quantity", min: "1", max: "10", value: "1"}
          %button.btn.btn-lg.btn-primary{type: "button", onclick: "save_quantity()"}
            =t('.save')
        .image-switch
          .img-left-side.img-prev
            %button.btn.btn-lg.btn-primary{type: "button", onclick: "prev()"} ←
          .img-page
            #image-page-text 0/10
          .img-right-side.img-next
            %button.btn.btn-lg.btn-primary{type: "button", onclick: "next()"} →
      .col-md-1

%br

= javascript_include_tag "work/index"